* {
    background-color: #1F2937;
    text-decoration: none;
    
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    align-items: center;
    align-content: end;
    justify-content: end;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
    flex-wrap: wrap;
}

.navbar a{
    padding: 25px;
    color: #E5E7EB;
    font-size: 18px;
}

.navbar img{
    margin-right: auto;
      text-align: right;
}

.headerMain h1{
    font-weight: bolder;
    margin: 5px;
    width: 650px;
    height: auto; 
    font-size: 48px;
    text-align: left;
    color: #f9faf8;
    text-align: left;
}

.headerMain p{
    margin: 5px;
    font-size: 18px;
    color: #E5E7EB;
    width: 650px;
    height: auto;
    text-align: left;
    color: #f9faf8;
    text-align: left;
}
.headerMain button{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3382F6;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;


}